@import '../../style/palette';
@import '../../style/typography';
@import '../../style/grid';
@import '../../style/normalize/variables';

.button,
.disabled {
  @include fs-bold(2);

  padding: $fg-gutter;
  background-color: c-color(funfun);
  color: c-color(dudu);
  border: 1px solid c-color(dudu);
  border-radius: 0;
}

.disabled {
  background-color: c-color(funfun, .1);
  color: c-color(dudu, .25);
  border: 1px solid c-color(dudu, .25);
}
